

.stem-track {
  cursor: pointer;
  transition: .2s;
  filter: blur(2px);
  color: grey;
}

.stem-track.loading {
  filter: initial;
}

.stem-track.loading:after {
	content: ' loading...';
	font-family: monospace;
  margin-left: 1em;
  font-size: .8em;
  animation: blink .8s infinite;
}

@keyframes blink {
  2%, 48% {
    opacity: 1;
  }
  52%, 98% {
    opacity: 0;
  }
}

.stem-track.loaded {
  filter: initial;
  opacity: 1;
  color: black;
}

.stem-track.has-errors {
  opacity: 1;
  filter: none;
  color: red;
  pointer-events: none;
  text-decoration: line-through;
}

.stem-track.playing {
  color: rgb(255, 80, 70);
}



.stem-button {
  filter: blur(4px);
  transition: .2s;
  pointer-events: none;
  opacity: 0.25;
  cursor: pointer;
}

.stem-button--play-all {
  cursor: pointer;
}

.shape1 {
  width: 20px;
}

.stem-button.enabled {
  opacity: 1;
	pointer-events: initial;
}

.stem-button.active {
  filter: none;
}

.debug-output {
  display: none;
}

body.debug .debug-output {
	display: block;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-family: monospace;
  font-size: 10px;
}

body.debug .stem-button:hover {
  outline: 1px solid pink;
}
