/**
 *
 * I've commented out lines 115-122, otherwise the above is untouched
 */

body {
    font-size: 16px;
    line-height: 1.3;
    font-family: "Neue";
    color: #000;
    letter-spacing: 1px;
}

nav.tracks .tracks-nav {
    float: none;
    list-style: none;
    list-style-type: none;
}

nav {
    font-size: 13px;
}

nav.tracks .tracks-nav li {
    margin-bottom: 30px;
}

nav.tracks .tracks-nav li:last-child {
    margin-bottom: 0;
}

nav.tracks .tracks-nav li a {
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

nav.tracks .tracks-nav .active a,
nav.tracks .tracks-nav li a:hover {
    border-bottom: 3px solid #000;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 28px;
}

.voffset2 {
    margin-top: 30px;
}

a {
    color: #000;
}

body {
    padding: 60px;
}

.relative {
    position: relative;
}

.shape {
    padding: 50px 0;
}

.shapes {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.shape0 {
    position: relative;
    z-index: 2;
}

.shape1 {
    position: relative;
    z-index: 3;
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
}

.shape2 {
    position: relative;
    z-index: 3;
    transform: translatey(0px);
    animation: float2 3s ease-in-out infinite;
}

.shape3 {
    position: relative;
    z-index: 3;
    transform: relative(0px);
    animation: float 3s ease-in-out infinite;
}

.shape4 {
    position: relative;
    z-index: 3;
    transform: translatey(0px);
    animation: float2 3s ease-in-out infinite;
}


/*.shape0 img:hover,
.shape1 img:hover,
.shape2 img:hover,
.shape3 img:hover,
.shape4 img:hover {
    opacity: .3;
    cursor: pointer;
}*/

@keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0);
    }
    50% {
        transform: translatey(0);
        transform: translatex(5px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0);
    }
}

@keyframes float2 {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0px);
    }
}

@font-face {
    font-family: 'Neue';
    src: url('fonts/NHaasGroteskDSPro-75Bd.eot');
    src: url('fonts/NHaasGroteskDSPro-75Bd.eot?#iefix') format('embedded-opentype'), url('fonts/NHaasGroteskDSPro-75Bd.woff') format('woff'), url('fonts/NHaasGroteskDSPro-75Bd.ttf') format('truetype');
    font-weight: none;
    font-style: normal;
}


/*Menu*/

#nav-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 99999;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 30px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

.overlay {
    position: fixed;
    width: 300px;
    height: 100%;
    color: #000;
    background-color: #fff;
    top: 0;
    padding: 20px 30px;
    left: -302px;
}

.overlay ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.overlay ul li {
    margin-bottom: 5px
}

.overlay ul li a {
    font-size: 30px;
    line-height: 1;
    font-family: 'GoBoldReg', 'sans-serif';
}

.overlay a {
    color: #000;
}

.overlay {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: 999;
}

.open {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
